
@import "./variables";
.gallery {
    padding: 32px 5vw;
    background-color: $alabaster;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  
    &__title {
      font-family: "Avenir Bold";
      font-size: 24px;
      line-height: 32px;
      margin-bottom: 24px;
    }
  
    &__images {
      display: flex;
      justify-content: space-around;
      width: 288px;
      height: auto;
      // align-self: center;
    }
  
    &__imgs {
      margin: 16px;
      width: 288px;
      max-height: 162px;
      border: 10px;
      border-color: white;
    }
  }
  
  @include tablet {
    .gallery {
      padding: 32px 3.125vw;
  
      &__title {
        font-size: 36px;
        line-height: 44px;
      }
      &__images {
        display: flex;
        flex-flow: wrap;
        gap: 10px;
        justify-content: space-evenly;
        width: 720px;
        height: 426px;
        align-content: space-between;
      }
  
      &__imgs {
        margin: 0;
        flex: 0 0 calc(33.33% - 10px);
        width: 224px;
        height: 126px;
        box-sizing: border-box;
      }
    }
  }
  
  @include desktop {
    .gallery {
      padding: 32px 12.5vw;
  
      &__images {
        display: flex;
        flex-flow: wrap;
        justify-content: space-between;
        width: 1080px;
        height: 627px;
        align-content: space-between;
      }
  
      &__imgs {
        width: 344px;
        height: 193px;
      }
    }
  }
  