@use "../patials/variables" as *;
@import "../patials/mixins";

html {
    width: 100%;
}

body {
    width: 100%;
    margin: 0;
    font-family: 'Avenir Regular', sans-serif;

}

.about{
    width: 85%;
    margin: 0 16px 40px;

    &__header{
        font-family: "Avenir Bold";
        align-self: flex-start;
        font-size: 24px;
        line-height: 32px;
        padding-left: 5vw;
        margin-top: 32px;
        margin-bottom: 24px;

        @include mobile{
            font-size: 1.6rem;
        }

        @include tablet{
            font-size: 2.2rem;
        }
        @include deskstop{
            // padding-left: 180px;
        }
    }

    &__content{
        display: flex;
        flex-direction: column;
        align-items:flex-start;
        padding: 0 5vw;

        @include deskstop {
            margin: auto;
            width:60%;
        }
    }
    &__image {
        margin: 0 5vw 24px 5vw;
        width: 288px;
        height: 145px;

        @include tablet {
            width: 97%;
        }
        @include deskstop{
            width: 100%;
            height: 70%;
        }    
    }

    &__slogan{
        font-family: 'Avenir Bold';
        font-size: 16px;
        line-height: 24px;
        margin-bottom: 32px;

        @include mobile{
            font-size: 1.3rem;
        }
        @include tablet{
            width: 93%;
            font-size: 1.5rem;
        }
        &--author{
            align-self: flex-start;
            font-size: 16px;
            line-height: 16px;
            margin-bottom: 24px;
            font-family: 'Avenir Bold';

        }
    }
    &__article{
        margin-bottom: 16px;
        display: flex;
        flex-flow: wrap;
        justify-content: space-evenly;
        align-items: flex-start;

        &--title{
            font-family: 'Avenir Bold';
        }

        &--body{
            display: flex;
            font-family: 'Avenir Regular';
            font-size: 0.76rem;
            line-height: 1.14rem;
            margin-bottom: 24px;

        }
    }
}