//colors
$blk: #323232;
$white: #ffff; 
$bandsite-darkblk: #000000;
$silver: #afafaf;
$mecury: #E1E1E1;
$alabaster: #FAFAFA;


//Breakpoints

$mobile: 320px;
$mobile-break: 767px;
$tablet: 768px;
$tablet-break: 1279px;
$desktop: 1279px;

